<!-- Use of Grid and Flex for Layout Design -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apps and their short discription</title>
    <style>
        h2{
            color:black;
        }
        div {
            box-shadow: 0 0 3px black;
            border-radius: 5px;
            padding: 0.5rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        main {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            background-color: antiquewhite;
        }
        section{
            padding: .5rem;
        }
    </style>
</head>

<body>
    <main>
        <div>
            <img src="python.jpg" alt="Python" height="250" width="250" />
            <section><h2>python</h2>
                <p>
                    Python is an open source community language, so numerous independent programmers are continually
                    building libraries and functionality for it. Professionally, Python is great for backend web
                    development, data analysis, artificial intelligence, and scientific computing.
                </p></section>
            
        </div>
        <div>
            <img src="bootstrap.jpg" alt="bootstrap 5" height="250" width="230" />
            <section><h2>BootStrap 5</h2>
                <p>Bootstrap 5 is the newest version of Bootstrap, which is the most popular HTML, CSS, and JavaScript
                    framework for creating responsive, mobile-first websites. Bootstrap 5 is completely free to download and
                    use!
    
                </p></section>
            
        </div>
        <div>
            <img src="sqlite.jpg" alt="Sqlite" height="250" width="230" />
            <section><h2>SQlite</h2>
                <p>
                    SQLite supports most of the query language features found in SQL92 (SQL2) standard. SQLite is written in
                    ANSI-C and provides simple and easy-to-use API. SQLite is available on UNIX (Linux, Mac OS-X, Android,
                    iOS) and Windows (Win32, WinCE, WinRT).
                </p></section>
            
        </div>
        <div>
            <img src="docker.jpg" alt="Docker" height="250" width="230" />
            <section><h2>Docker</h2>
                <p>
                    Docker is a software platform that allows you to build, test, and deploy applications quickly. Docker
                    packages software into standardized units called containers that have everything the software needs to
                    run including libraries, system tools, code, and runtime.
                </p></section>
            
        </div>
        <div>
            <img src="C++.png" alt="C++" height="250" width="230" />
            <section><h2>C++</h2>
                <p>
                    C++ (or “C-plus-plus”) is a generic programming language for building software. It's an object-oriented
                    language. In other words, it emphasizes using data fields with unique attributes (a.k.a. objects) rather
                    than logic or functions. A common example of an object is a user account on a website.
                </p></section>
        </div>
        <div>
            <img src="C programming.png" alt="C Programming" height="250" width="230" />
            <section><h2>C Programming</h2>
                <p>
                    C is an imperative, procedural language in the ALGOL tradition. It has a static type system. In C, all
                    executable code is contained within subroutines (also called "functions", though not in the sense of
                    functional programming).
                </p></section>
        </div>
        <div>
            <img src="java.png" alt="JAVA" height="250" width="230" />
            <section><h2>JAVA</h2>
                <p>
                    Java is a widely-used programming language for coding web applications. It has been a popular choice
                    among developers for over two decades, with millions of Java applications in use today. Java is a
                    multi-platform, object-oriented, and network-centric language that can be used as a platform in itself.
                </p></section>
        </div>
        <div>
            <img src="javascript.png" alt="JavaScript" height="250" width="230" />
            <section><h2>JavaScript</h2>
                <p>
                    JavaScript is a dynamic programming language that's used for web development, in web applications, for
                    game development, and lots more. It allows you to implement dynamic features on web pages that cannot be
                    done with only HTML and CSS.
                </p></section>
        </div>
        <div>
            <img src="Django.png" alt="Django" height="250" width="230" />
            <section><h2>Django</h2>
                <p>
                    Django is a high-level Python web framework that enables rapid development of secure and maintainable
                    websites. Built by experienced developers, Django takes care of much of the hassle of web development,
                    so you can focus on writing your app without needing to reinvent the wheel.
                </p></section>
        </div>
    </main>
</body>

</html>