<!-- bs5-$ -->
<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- fa6-cdn -->
    <!-- FontAwesome 6.2.0 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- (Optional) Use CSS or JS implementation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
        integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>
        <div class="container">
            <div class="row">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia quia nulla odit
                cupiditate temporibus impedit earum vel labore expedita, provident nostrum perferendis recusandae
                delectus repellat et fugiat eligendi. Perferendis!
            </div>
            <div class="row">
                <div class="col">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam consectetur quaerat impedit iure
                    accusamus, deserunt velit maxime, at esse pariatur quam excepturi quibusdam magni enim. Veritatis
                    temporibus fugit a porro?
                </div>
            </div>
        </div>
        <!-- .container>.row>.col*15.p-3>lorem -->
        <div class="container">
            <div class="row">
                <div class="col p-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero nihil voluptas
                    officia eius, consequuntur tenetur. Ea iure minima dicta eveniet soluta! Possimus suscipit quos
                    error quia rem minima eveniet sapiente!</div>
                <div class="col p-3">Perspiciatis a ipsum, neque incidunt optio, dolor magni assumenda soluta, nihil
                    doloremque vitae non quia quam. Itaque reiciendis, assumenda ratione tempora provident minus
                    possimus dolorum odio at repellat dolor natus!</div>
                <div class="col p-3">Ea in cumque, nobis consectetur iusto vero quos eum animi tempore, repellendus
                    aperiam quam vel doloremque? Amet cupiditate perspiciatis ipsum voluptatum incidunt obcaecati
                    necessitatibus quisquam, enim, voluptates provident eaque. Eos.</div>
                <div class="col p-3">Suscipit quas recusandae ratione unde nulla? Accusamus molestias vitae quos natus
                    minus atque at, totam repellendus ipsa rem optio exercitationem, alias voluptates tempora quo magni
                    sed dicta asperiores porro voluptatem.</div>
                <div class="col p-3">Harum ea rerum dolor excepturi perferendis amet accusantium reiciendis fugit
                    necessitatibus natus saepe vitae error quo sapiente molestiae nisi iure facilis veniam eum, tempore
                    ipsum! Aperiam repellat labore explicabo distinctio!</div>
                <div class="col p-3">Odit atque vero minus est quaerat saepe vitae beatae molestiae, laboriosam minima
                    aperiam ad architecto praesentium deleniti sed quasi nihil labore voluptatum delectus voluptatem
                    incidunt dolores et aut accusantium! Ducimus!</div>
                <div class="col p-3">Minus, doloribus accusantium optio iure explicabo ducimus nihil ut sed natus
                    facilis temporibus mollitia tenetur eligendi animi porro at error, praesentium dicta eveniet illo
                    suscipit. Tempore quaerat id quidem tempora.</div>
                <div class="col p-3">Incidunt sequi molestiae culpa dolores beatae cum ipsam! Impedit modi doloremque
                    provident iste numquam libero sapiente, dolore ex? Qui asperiores suscipit aspernatur dolorum fuga
                    modi pariatur reprehenderit quidem ut consectetur?</div>
                <div class="col p-3">Porro blanditiis ullam, officia, quam corrupti nesciunt commodi ipsa velit
                    voluptatem, eos id repudiandae repellendus quidem sit facilis ipsam? Reprehenderit reiciendis
                    maiores esse possimus? Maiores tempora officia quidem animi esse?</div>
                <div class="col p-3">Suscipit, repellendus sunt voluptatum sed nulla atque ipsam, itaque harum
                    architecto temporibus quas repudiandae? Quibusdam mollitia iste ut maiores accusantium recusandae
                    labore ea quisquam, tempora minus laborum incidunt nam omnis.</div>
                <div class="col p-3">Et, mollitia amet sequi atque quis velit ratione nesciunt blanditiis tenetur
                    explicabo quas voluptatibus nam veniam, accusamus ullam sapiente dolorum, tempora minus totam
                    asperiores magni dicta soluta corporis. Recusandae, maxime.</div>
                <div class="col p-3">Laboriosam, sequi numquam molestiae harum sapiente vel ab ut tempora repudiandae.
                    Sequi odit obcaecati accusantium mollitia ipsam odio vitae quibusdam quidem commodi consectetur
                    dicta placeat culpa sed, libero, facilis et.</div>
                <div class="col p-3">Eius nihil dolorem facere asperiores doloribus ipsam. Sit eos possimus eligendi
                    autem laborum labore optio, officiis tempora, excepturi ab temporibus corrupti facere ea odit ullam
                    maxime cupiditate tenetur incidunt ipsum.</div>
                <div class="col p-3">Cumque tenetur deserunt corporis quae amet impedit. Commodi nostrum recusandae
                    beatae temporibus harum? Rem voluptatem quidem sapiente nam molestiae explicabo quos nesciunt
                    tenetur enim cupiditate modi, impedit incidunt natus facilis!</div>
                <div class="col p-3">Veritatis sequi aut praesentium suscipit, fugit earum quibusdam assumenda minus,
                    eum deserunt et dolorem dolor. Ex, quasi necessitatibus, cum sunt quae doloribus odio, a quisquam
                    suscipit vitae magni corporis inventore!</div>
            </div>
        </div>
        <!-- .container>.row>.col-4*12.p-3>.card>.card-body>(h3>lorem3)+(p>lorem)+(button.btn>lorem1)+(button.btn.btn-primary>lorem1) -->
        <!-- .container>.row>.col-lg-4*12.p-3>.card>.card-body>(h3>lorem3)+(p>lorem)+(button.btn>lorem1)+(button.btn.btn-primary>lorem1) -->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Lorem, ipsum dolor.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quod, ex consequuntur
                                deserunt iure repellat! Quaerat itaque eum quia, dicta nostrum optio esse ea deleniti
                                adipisci ipsum voluptatibus vero omnis.</p>
                            <button class="btn">Lorem.</button><button class="btn btn-primary">Lorem.</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Ex, recusandae eveniet!</h3>
                            <p>Omnis culpa nobis sequi eligendi quibusdam, tempora at placeat nesciunt, ipsa saepe animi
                                fugiat voluptatibus! Natus ratione ducimus architecto expedita culpa nobis quisquam sunt
                                dolorem, libero in cupiditate deserunt? Ipsum.</p>
                            <button class="btn">Ab!</button><button class="btn btn-primary">Corporis.</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Sit, vel mollitia?</h3>
                            <p>Soluta tempora impedit tenetur nam eaque quia voluptatem sit ut veritatis iusto possimus
                                nihil, autem perferendis nostrum expedita perspiciatis. Modi magni vero id animi.
                                Numquam suscipit rerum consectetur voluptates eum?</p>
                            <button class="btn">Odio?</button><button class="btn btn-primary">Aperiam?</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Optio, tempore odit.</h3>
                            <p>Culpa ipsum iure quaerat ex dolor quis natus dolorem laborum? Adipisci explicabo,
                                expedita incidunt in dolorem ratione? Inventore unde adipisci dolor! Et vitae ipsa
                                aliquam voluptates unde rerum iure mollitia?</p>
                            <button class="btn">Tempore.</button><button class="btn btn-primary">Dolorum!</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Incidunt, est molestias.</h3>
                            <p>Commodi, ea? Nostrum ex reprehenderit veritatis quam ad iusto perferendis aliquid
                                nesciunt voluptas voluptate sunt beatae nihil inventore vel repellat illo, nemo porro,
                                saepe, possimus quibusdam consequuntur unde accusamus maiores.</p>
                            <button class="btn">Excepturi?</button><button class="btn btn-primary">Id!</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Quibusdam, eveniet nemo.</h3>
                            <p>Aliquam asperiores maxime eum unde? Incidunt eum voluptas error corporis quia cumque
                                soluta fugit pariatur quas alias, corrupti id nobis asperiores hic blanditiis ut
                                adipisci dolore atque inventore. Tempore, et!</p>
                            <button class="btn">Commodi.</button><button class="btn btn-primary">Pariatur.</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Soluta, vel numquam!</h3>
                            <p>Labore excepturi, nisi fugiat impedit totam facere dolores veritatis, enim earum fugit
                                corporis ut dignissimos repudiandae aspernatur ipsam, autem ad praesentium optio.
                                Accusantium, illo iure autem esse temporibus aliquid ipsa!</p>
                            <button class="btn">Magnam!</button><button class="btn btn-primary">Explicabo.</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Est, ut aperiam?</h3>
                            <p>Sint aut iste deserunt, possimus nostrum voluptas aliquam, labore optio fugit amet
                                obcaecati nisi aperiam a explicabo dolorem? Culpa et in sed expedita debitis mollitia?
                                Libero inventore expedita veritatis hic!</p>
                            <button class="btn">Unde.</button><button class="btn btn-primary">Reiciendis!</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Deleniti, consequatur dolorem!</h3>
                            <p>Sapiente reprehenderit cumque unde iste rem vitae ab minima molestiae sequi animi,
                                corrupti alias repellat! Nemo recusandae eos reprehenderit quaerat harum qui, aliquam
                                fugiat temporibus pariatur. Aut sapiente error animi.</p>
                            <button class="btn">Et.</button><button class="btn btn-primary">Error.</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Obcaecati, voluptatem maxime?</h3>
                            <p>Vero, sit eligendi praesentium possimus dolorem corrupti blanditiis error ab iure
                                provident est natus earum. Eos quisquam voluptatibus repellat sunt saepe ipsam. Iure
                                maxime aliquid, sapiente voluptatem numquam nostrum sequi?</p>
                            <button class="btn">Iusto?</button><button class="btn btn-primary">Nostrum.</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Temporibus, suscipit fuga?</h3>
                            <p>Voluptates reiciendis, nemo dolorem dolor aut quas. Ab repellat quod porro fuga quas
                                mollitia enim quasi eaque debitis, beatae saepe nihil sapiente doloremque recusandae
                                nostrum ad necessitatibus dolorum in quaerat?</p>
                            <button class="btn">Fuga.</button><button class="btn btn-primary">Tenetur.</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Eos, placeat similique!</h3>
                            <p>Adipisci sint, aspernatur error a sit rem voluptate. Nihil dolor hic amet, ex minima
                                atque illum officia suscipit voluptatibus excepturi ducimus nemo accusantium, facere
                                deleniti laboriosam, praesentium itaque molestias magni.</p>
                            <button class="btn">Reprehenderit?</button><button class="btn btn-primary">Ipsa.</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>