<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags in html</title>
    <style>
        html{
            color-scheme:dark;
        }
        body{
            font-family: sans-serif;
            font-size: 1.3rem;
            line-height: 1.5;
            width: 75ch;
            margin: 5rem auto;
        }
    </style>
</head>

<body>
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus impedit minima tempora id harum cumque minus
        tenetur sapiente in iusto maxime distinctio tempore veniam quis, magnam neque? Alias, architecto culpa?</div>
    <header>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus atque in, voluptates quae placeat
        earum, doloremque reprehenderit a quibusdam dolor ex quam eveniet, ipsa consequatur minima ab inventore sunt
        veniam.</header>
    <footer>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed amet autem corporis ut nulla non alias
        reiciendis rerum beatae voluptatem! Dolorum, facilis id expedita cupiditate ex rem accusantium veritatis
        officiis.</footer>
    <nav>
        <ul>
            <li>Lorem.</li>
            <li>Perspiciatis.</li>
            <li>Numquam!</li>
            <li>Rerum.</li>
            <li>Eos!</li>
        </ul>
    </nav>
    <section>Lorem.</section>
    <section>Beatae?</section>
    <section>Consectetur.</section>
    <!--formatting tags-->

    <h1>Heading 1</h1>
    <h2>Heading 1</h2>
    <h3>Heading 1</h3>
    <h4>Heading 1</h4>
    <h5>Heading 1</h5>
    <h6>Heading 1</h6>
    <p><strong>lorem ipsum dolor sit</strong> amet consectetur adipisicing elit. <u>Vero minima hic</u>, eius sapiente obcaecati voluptatum rem
        blanditiis itaque voluptatibus reprehenderit autem sunt recusandae fuga sint possimus! Doloremque suscipit esse
        optio.</p>
        <div><details>
            <summary>Alt+Shift+F</summary>
            <p>Formatting the html code</p>
        </details>
        <details>
            <summary>Ctrl+Shift+p</summary>
            <p>Show setting/preferences</p>
        </details>
        <details>
            <summary>Alt+Shift+⬇️</summary>
            <p>Duplicate the line,based on where the cursor is</p>
        </details>
        <details>
            <summary></summary>
            <p></p>
        </details>
        <details>
            <summary></summary>
            <p></p>
        </details></div>
        <div>
            <table border="1"width="50%">
                <thead>
                    <tr>
                        <th colspan="4">Purchased Items</th>
                    </tr>
                    <tr>
                        <th>Sno</th>
                        <th>Name</th>
                        <th>Qty</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Flour</td>
                        <td>5</td>
                        <td>160</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Socks</td>
                        <td>2</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Salt</td>
                        <td>3</td>
                        <td>90</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total</td>
                            <th>290</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <blockquote>"This is Sparta"-King Leonides</blockquote>
        <pre>
            <code>
                def hello():
                print("Hello World")
            </code>
        </pre>

</body>

</html>